* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}
body {
  height: 220vh;
}
nav {
  height: 5vh;

  display: flex;
  padding: 1%;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.171);
  z-index: 100000;
  position: sticky;
  top: 0;
  background-color: white;
}

.left {
  width: 20vw;
}
.mid {
  width: 60vw;
}

.right {
  width: 20vw;
}

.left > a {
  text-decoration: none;
  color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 3vw;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mid {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  align-items: center;
  align-self: stretch;
  align-content: center;
}
.mid > a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  /* flex-shrink: ; */
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}
.mid > a:hover {
  border-bottom: 2px solid crimson;
  color: crimson;
}
.right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  background-image: radial-gradient(rgb(230, 221, 255), rgb(184, 184, 223));
  box-sizing: border-box;
}

.home > .container {
  width: 80%;
}
#rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#rightContainer > img {
  filter: drop-shadow(0px 0px 10px black);
  width: 27vw;
  /* box-sizing: border-box; */
  /* width: 70%; */
}

#leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#leftContainer > h3 {
  display: flex;
  font-size: 4vw;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#leftContainer > h2 {
  display: flex;

  width: 70%;
  margin-left: 8vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
}

#leftContainer > p {
  margin-top: 5vh;
  margin-left: 8vw;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  width: 35vw;
}
#leftContainer > .button > button {
  background-color: crimson;
  color: white;
  border-radius: 5vw;
  border: none;
  width: 16vmax;
  padding: 1vw;
  margin-top: 4vh;
  margin-left: -11vw;
}

.product {
  display: flex;

  background-color: aqua;
  width: 80vw;
  display: flex;
  margin: 0 auto;
}

#p_text {
  margin: 2% auto;
  /* height: 02%; */
  width: 20%;
  font-size: 2.5vw;
  border-bottom: 5px solid crimson;
  padding: 0vw;
  text-align: center;
}
#product_imgContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.product1 {
  margin: 2%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  transition: all 0.5s;
  cursor: pointer;
}
.product1:hover {
  transform: translateY(-13px);
}
.product1 > img {
  width: 18vmax;
  /* height: 25vmax; */
}

.product1 > h3 {
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 2vmax;

  background-color: rgba(0, 0, 0, 0.685);
}
#footer > .left > img {
  width: 15vmax;
  margin-top: 5px;
}
#footer > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 20vw;
}
#footer > .left > p {
  text-align: center;
  color: white;
}
#footer > .mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(128, 0, 107);
  width: 60vw;
  height: 27vh;
}
#footer > .right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  border: 1px solid rgb(212, 255, 23);
  width: 20vw;
}
#footer > .mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#footer > .mid > h1 {
  color: crimson;
}
#footer > .mid > p {
  margin-top: 3vh;
}
#footer > .right > a {
  margin-top: 0.5vw;
  text-decoration: none;
  color: white;
}
#footer > .right > h3 {
  color: white;
  margin-bottom: 0.8vw;
}
